<html>
    <head>
        <link rel="stylesheet" href="/style.css">

    </head>

    <body>

        <h1>WELCOME TO LOGIN PAGE</h1>

        <form action="/signinsubmit" method="GET" class="container">
           
            EMAIL ID :   <input type="email" name="email"><br>
            PASSWORD :  <input type="password" name="password"><br>
            <input type="submit">
        </form>
        <p  class="container" >Don't have an account? <a href="/signup">Sign up</a></p>




    </body>
</html>