<html>
    <head>
        <link rel="stylesheet" href="/style1.css">

    </head>

    <body>

        <h1>WELCOME TO SIGNUP</h1>

        <form action="/signupsubmit" method="GET" class="container">
            FULLNAME :  <input type="text" name="full_name"><br>
            LASTNAME :  <input type="text" name="last_name"><br>
            EMAIL ID :   <input type="email" name="email"><br>
            PASSWORD :  <input type="password" name="password"><br>
            <input type="submit">
        </form>
        <p class="container">Don't have an account? <span><a href="/signin">signin</a></span></p>
        


    </body>
</html>